:root {
    --accent-color: #ff6e30;
    --input-color: #283036;
    --background-color: #1e252b;
    --not-active-button: #1e252b;
}

header {
    display: flex;
}

.antools {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-link {
    color: rgba(255, 255, 255, 0.78);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

.header-list {
    /* list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-right: auto;
  position: absolute;
margin-left: 350px;
top: 38px; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-right: auto;
    width: 676px;

}

.imgf {
    margin-right: 12px;
}

.imgh {
    display: block;
    width: 19.38px;
    height: 20.95px;
    margin-right: 21px;
}

.header-list-log {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    justify-content: space-between;
    /* list-style: none;
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    justify-content: flex-end;   */

}

.load-more-button {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background: rgb(30, 37, 43);
    color: var(--accent-color);
    width: 184px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.card-immg{
    display: block;
}

.card-actions {
    display: flex;
    gap: 20px;
    align-items: center;
    outline: #ff6e30 solid 1px;
}


.card-actions-2{
    gap: 20px;
display: flex;
align-items: center;
outline: #ff6e30 solid 1px;
}

.visit-button {
    width: 106px;
    height: 42px;
    margin-left: 140px;
    border-radius: 8px;
    background-color: #1e252b;
    border: none;
    color: rgba(255, 255, 255, 0.55);
}

.visit-button-2{
  width: 106px;
    height: 42px;
    margin-left: 50px;
    border-radius: 8px;
    background-color: #1e252b;
    border: none;
    color: rgba(255, 255, 255, 0.55);
}  


.brands-sub {
    border-radius: 25px;
    backdrop-filter: blur(50px);
    background: #2c353d33;
    width: 1224px;
    height: 253px;
    justify-content: center;
    margin: 0 auto;
}

.search-button {
    margin-left: -150px;
    width: 130.43px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: white;
}

.header-input {
    width: 497.66px;
    height: 64px;
    background-color: var(--input-color);
    color: rgba(255, 255, 255, 0.38);
    border-radius: 15px;
    border: #283036;
}

footer {
    margin-top: 240px;
    display: flex;
}

.footer-input {
    width: 497.66px;
    height: 64px;
    background-color: var(--input-color);
    color: rgba(255, 255, 255, 0.38);
    border-radius: 15px;
    border: #283036;
}



.joinus-button {
    margin-left: -150px;
    width: 130.43px;
    height: 48px;
    border-style: none;

    margin-top: 8px;
    border-radius: 8px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: white;
    align-items: center;
}

.ilustratin {
    background-image: url("images/ilust.png");
    background-repeat: no-repeat;
    background-position: right top;

}

.sign-up {
    width: 118px;
    height: 48px;
    border-style: none;
    color: rgb(253, 245, 255);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: var(--accent-color);
}

.point {
    color: var(--accent-color);
}

.login {
    color: rgba(255, 255, 255, 0.78);
    font-family: Poppins;
    background-color: var(--not-active-button);
    width: 118px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}

.main-title {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    text-align: left;

}

.main-par {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 60px;
}

.main-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.folder {
    /* margin-left: 12px;
    margin-bottom: 33px; */
    display: block;
}

.like {
    /* margin-left: 33px;
    margin-bottom: 33px; */
    display: block;
}

.pop-tool-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 24px;
    margin-bottom: 200px;

}

.explore-more-button {
    width: 198px;
    height: 58px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--accent-color);
}

.trus-brands-list {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    gap: 107px;
}

.band-wrap {
    padding-top: 55px;
    margin-top: 100px;
}

.trus-brands-item {
    list-style: none;
    margin-bottom: 55px;

}

body {
    background: #1e252b;
}

.main-titlee {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 500;
    margin-top: 200px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.main-para12 {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.main-titlee3 {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 100px;
}

.main-para {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 90px;
    text-align: center;
}


.card-img {
    width: 64px;
    height: 64px;
    margin-right: 30px;
}

.card-title {
    color: rgba(255, 255, 255, 0.78);
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.email-center {
    display: flex;
    justify-content: center;
}

.card-title2 {
    color: rgba(255, 255, 255, 0.78);
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    
}

.card-par {
    color: rgba(255, 165, 55, 0.55);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;

}

.card-par2 {
    color: rgba(255, 165, 55, 0.55);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;

}

.card-desctip {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;

}

.card-desctip2 {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;

}

.newcomer-tools {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 200px;
    padding-left: 0px;
}

.newcomer-tools-item {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 21px;
    width: 288px;
    height: 284px;
    margin-bottom: 50px;
    outline: red 1px solid;
}



.pop-tool-item {
    padding: 33px 33px;
    outline: #ff6e30 0.1px solid;
    width: 392px;
    height: 334px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.mainn-para {
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 90px;
}

.main-titlee2 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Poppins";
    font-size: 24px;

    font-weight: 500;
    text-align: center;
}

.name {
    color: rgba(255, 253, 253, 0.78);
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 500;
}

.worker {
    color: rgba(255, 253, 253, 0.55);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
}

.work-des {
    color: rgba(255, 255, 255, 0.78);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

.footer-font-i {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}

.copyright {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
}


.tel {
    margin-bottom: 20px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.55);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-list {
    list-style: none;
    padding-left: 0px;
    gap: 115;
    margin-right: 115px;
}

.footer-list-i {
    list-style: none;
    padding-left: 0px;
    margin-right: 156px;
}

.antools-f {
    display: flex;
    flex-wrap: wrap;

}

.container {
    width: 1224px;
    margin: 0 auto;
    outline: solid red;
}