:root {
    --accent-color: #ff6e30;
    --input-color: #283036;
    --background-color: #1e252b;
    --not-active-button: #1e252b;
    --btn-hover-color: #db5f2a;
}

header {
    display: flex;
}

.hrf {
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    margin-top: 240px;
}

.antools {
    color: rgba(255, 255, 255, 0.9);
    
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-link {
    color: rgba(255, 255, 255, 0.78);
    
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    padding-right: 7px;

}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: auto;
    width: 676px;
    color: #ffffff8c;
}

.sel-lang{
    color: white;
    display: flex;
    justify-content: center;
}

.lang-item{
    display: flex;
    list-style: none;
}

.lang-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.lang-link{
text-decoration: none;
color: white;
font-size: 50px;
}

.imgf {
    margin-right: 12px;
}

.imgh {
    display: block;
    width: 19.38px;
    height: 20.95px;
    margin-right: 21px;
}

.header-list-log {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    justify-content: space-between;

}

.load-more-button {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-size: 20px;
    background: rgb(30, 37, 43);
    color: var(--accent-color);
    width: 184px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.load-more-button:hover {
    background-color: var(--input-color);
    cursor: pointer;
}

.roland {
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.card-immg {
    display: block;
}

.card-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}


.card-actions-2 {
    gap: 20px;
    display: flex;
    align-items: center;
}

.visit-button {
    width: 106px;
    height: 42px;
    margin-left: 140px;
    border-radius: 8px;
    background-color: #1e252b;
    border: none;
    color: rgba(255, 255, 255, 0.55);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.visit-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.search {
    position: absolute;
    padding: 20px;
    
}

.visit-button-2 {
    width: 106px;
    height: 42px;
    margin-left: 50px;
    border-radius: 8px;
    background-color: #1e252b;
    border: none;
    color: rgba(255, 255, 255, 0.55);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.visit-button-2:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}


.like::before,
.like::after {
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 4px;
}

.like::after {
    background-image: url(images/like.png);
    background-size: 30px;
    background-repeat: no-repeat;
}

.like::after {
    display: flex;
    background-color: var(--our-command-substrate);
    background-size: 30px;
}

.like::before:hover,
.like::after {
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 4px;
    
}

.like::after {
    background-image: url(images/like.png);
    background-size: 30px;
    background-repeat: no-repeat;
}

.like::after {
    display: flex;
    background-color: var(--our-command-substrate);
    background-size: 30px;
    
}


.brands-sub {
    border-radius: 25px;
    backdrop-filter: blur(50px);
    background-image: url("images/brandhover.png");
    width: 1224px;
    height: 253px;
    justify-content: center;
    margin: 0 auto;
}

.search-button {
    margin-left: -150px;
    width: 130.43px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.header-input {
    padding-left: 55px;
    width: 497.66px;
    height: 64px;
    background-color: var(--input-color);
    color: rgba(255, 255, 255, 0.38);
    border-radius: 15px;
    border: #283036;
}

footer {
    display: flex;
}

.footer-input {
    width: 497.66px;
    height: 64px;
    padding-left: 24px;
    background-color: var(--input-color);
    color: rgba(255, 255, 255, 0.38);
    border-radius: 15px;
    border: #283036;
}



.joinus-button {
    margin-left: -150px;
    width: 130.43px;
    height: 48px;
    border-style: none;
    margin-top: 8px;
    border-radius: 8px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: white;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.joinus-button:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.ilustratin {
    background-image: url("images/ilust.png");
    background-repeat: no-repeat;
    background-position: right top;

}

.sign-up-ua{
    width: 130px;
    height: 48px;
    border-style: none;
    color: rgb(253, 245, 255);
    
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: var(--accent-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sign-up {
    width: 118px;
    height: 48px;
    border-style: none;
    color: rgb(253, 245, 255);
    
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: var(--accent-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sign-up:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.sign-up-ua:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.point {
    color: var(--accent-color);
}

.login {
    color: rgba(255, 255, 255, 0.78);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--not-active-button);
    width: 118px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login:hover {
    background-color: var(--input-color);
    cursor: pointer;
}

.main-item{
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-item:hover{
   transform: scale(1.1);
}

.main-title {
    
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    text-align: left;

}

.main-par {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 60px;
}

.main-list {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 110px;
}

.folder {
    display: block;
}

.like {
    display: block;

}

.like:hover {
    background-image: url("images/redlike.png");
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: center;
}

.pop-tool-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 24px;
    margin-bottom: 200px;

}

.explore-more-button {
    width: 198px;
    height: 58px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--accent-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.explore-more-button:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.trus-brands-list {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    gap: 107px;
}

.band-wrap {
    padding-top: 55px;
    margin-top: 100px;
}

.trus-brands-item {
    list-style: none;
    margin-bottom: 55px;

}

body {
    background: #1e252b;
}

.main-titlee {
    color: rgba(255, 255, 255, 0.9);
    
    font-size: 48px;
    font-weight: 500;
    margin-top: 200px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.main-para12 {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    display: flex;
}

.main-titlee3 {
    color: rgba(255, 255, 255, 0.9);
    
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 100px;
    display: flex;
}

.main-para {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 90px;
    text-align: center;
}

main {
    margin-bottom: 240px;
}

.card-img {
    width: 64px;
    height: 64px;
    margin-right: 30px;
}

.card-title {
    color: rgba(255, 255, 255, 0.78);
    
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.email-center {
    display: flex;
    justify-content: center;
}

.card-title2 {
    color: rgba(255, 255, 255, 0.78);
    
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 0px;
}

.card-par {
    color: rgba(255, 165, 55, 0.55);
    
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;

}

.card-par2 {
    color: rgba(255, 165, 55, 0.55);
    
    font-size: 18px;
    font-weight: 400;

}

.card-desctip {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 16px;
    font-weight: 400;

}

.card-desctip2 {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 16px;
    font-weight: 400;

}

.work-des {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1.5%;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.78);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

.lanes {
    list-style: none;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.not-active-lane {
    width: 44px;
    height: 8px;
    border-radius: 4px;
    background: rgb(40, 48, 54);
}

.active-lane {
    width: 44px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: var(--accent-color);
}

.blur {
    position: absolute;
    margin-left: 317px;
    top: 4100px;
    padding: 10px 22px;
    border-radius: 8px;
    backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.2);
}

.box-new {
    margin-top: 100px;
}

.newcomer-tools {
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 1400px;
    margin-bottom: 200px;
    padding-left: 0px;
}

.che-down {
    width: 9px;
    height: 4.5px;
    margin-left: 7px;
    margin-bottom: 2px;
}

.newcomer-tools-item:hover {
    background-color: var(--input-color);
    backdrop-filter: blur(50px);
    background-image: url("images/hoveritemnew.png");
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.newcomer-tools-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 21px 21px;
    width: 288px;
    height: 284px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.newcomer-section {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-right: 108px;
}

.pop-tool-item {
    padding: 33px 33px;
    width: 392px;
    height: 294px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pop-tool-item:hover {
    background-color: var(--input-color);
    backdrop-filter: blur(50px);
    background-image: url("images/hoveritem.png");
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.mainn-para {
    text-align: center;
    color: #ffffff8c;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 90px;
}

.pord-info {
    color: rgba(255, 255, 255, 0.78);
    
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.main-titlee2 {
    color: rgba(255, 255, 255, 0.8);
    
    font-size: 24px;

    font-weight: 500;
    text-align: center;
}

.header-che {
    width: 9px;
    height: 4.5px;
    display: flex;
    align-items: center;

}

.name {
    color: #fffdfdc7;
    
    font-size: 26px;
    font-weight: 500;
}

.workers {
    background-image: url("images/ll.png");
    background-repeat: no-repeat;
    background-position: center;
}

.worker {
    color: #fffdfd8c;
    
    font-size: 16px;
    font-weight: 400;

}

.che-left {
    position: absolute;
    box-sizing: border-box;
    top: 3900px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.chr-right {
    position: absolute;
    width: 12px;
    height: 24px;
    margin-left: 1100px;
    top: 3900px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.chevrons {
    list-style: none;
}

.work-des {
    position: absolute;
    color: rgba(255, 255, 255, 0.78);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    top: 3950px;
    margin-left: 586px;
}

.footer-font-i {
    color: rgba(255, 255, 255, 0.9);
    
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 14px;
    font-weight: 400;
}

.copyright {
    color: rgba(255, 255, 255, 0.9);
    
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;

}


.tel {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding-top: 25px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.55);
    
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-listt {
    list-style: none;
    margin-top: 20px;
    gap: 115px;
}

.footer-list {
    list-style: none;
    padding-left: 0px;
    gap: 115;
    margin-right: 115px;
}

.footer-list-i {
    list-style: none;
    padding-left: 0px;
    margin-right: 156px;
}

.footer-item {
    margin-bottom: 25px;
}

.antools-f {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
}


.container {
    width: 1224px;
    margin: 0 auto;
}